:root {
  --default-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  background-color: var(--white);
}

ul {
  list-style-type: none;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  transition: background-color var(--default-transition);
}

button:hover,
button:focus {
  background-color: var(--ocean);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

p {
  letter-spacing: 0.02em;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.header-bar {
  display: flex;
  align-items: center;
  gap: 76px;
}

.header-bar__nav {
  flex-grow: 1;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
  text-decoration: none;
}

.logo--dark {
  color: var(--cloud);
}

.logo__accent {
  color: var(--iris);
}

.nav-bar {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
  transition: color var(--default-transition);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.nav-link--current {
  color: var(--ocean);
  position: relative;
}

.nav-link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: var(--ocean);
  border-radius: 2px;
}

.contact-bar {
  display: flex;
  gap: 40px;
}

.contact-link {
  display: block;
  padding: 24px 0;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
  transition: color var(--default-transition);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}

.section {
  padding: 120px 0;
}

.hero-section {
  padding: 0;
}

.hero-banner {
  max-width: 1440px;
  background-image: linear-gradient(var(--grey), var(--grey)),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
}

.hero-banner__title {
  display: block;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-banner__button {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.page-title {
  text-align: center;
  color: var(--white);
}

.team-section {
  background-color: var(--cloud);
}

.section-title {
  text-align: center;
  margin-bottom: 72px;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-list > li {
  width: calc((100% - 24px * 3) / 4);
}

.feature-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
}

.feature-title {
  margin-bottom: 8px;
}

.team-member-list {
  display: flex;
  gap: 24px;
}

.team-member {
  width: calc((100% - 24px * 3) / 4);
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member__photo {
  width: 100%;
}

.team-member__plague {
  padding: 32px 16px;
}

.team-member__name,
.team-member__position {
  text-align: center;
  margin-bottom: 8px;
}

/* .team-member__name {
} */

.team-member__socials {
  display: flex;
  justify-content: space-between;
}

.team-member__social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--default-transition);
}

.team-member__social-link:hover,
.team-member__social-link:focus {
  background-color: var(--ocean);
}

.team-member__social-link-icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-project {
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow var(--default-transition);
}

.portfolio-project:hover,
.portfolio-project:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-project__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-project__thumb-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--iris);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  transform: translateY(100%);
  transition: transform var(--default-transition);
}

.portfolio-project:hover .portfolio-project__thumb-description,
.portfolio-project:focus .portfolio-project__thumb-description {
  transform: translateY(0);
}

.portfolio-project__thumb-image {
  width: 100%;
}

.portfolio-project__plague {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-project__title {
  margin-bottom: 8px;
}

.page-footer {
  padding: 100px 0;
  background-color: var(--navy-blue);
  color: var(--cloud);
}

.page-footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.page-footer__section-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.page-footer__logo {
  display: block;
  margin-bottom: 16px;
}

.page-footer__text {
  max-width: 264px;
}

.page-footer__socials {
  display: flex;
  gap: 16px;
}

.page-footer__social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--default-transition);
}

.page-footer__social-link:hover,
.page-footer__social-link:focus {
  background-color: var(--green);
}

.page-footer__social-link-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: var(--cloud);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
